@use './styles/index' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  background: transparent;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  z-index: 1;
}
